@model IEnumerable<Helpdesk_SGVW.Models.Categorie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nieuwe categorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verantwoordelijke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verantwoordelijke2)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verantwoordelijke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verantwoordelijke2)
            </td>

            <td style="width:150px">
                <div class="btn-group" role="group">
                    <a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fas fa-edit">Bewerk</i>
                    </a>

                    <a class="btn btn-success text-white" asp-action="Details" asp-route-Id="@item.Id">
                        <i class="fas fa-list-alt">Details</i>
                    </a>

                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@item.Id">
                        <i class="fas fa-trash-alt">Wis</i>
                    </a>
                </div>
            </td>
            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>*@
        </tr>
}
    </tbody>
</table>
