@model Helpdesk_SGVW.Models.Infotheek

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wissen</h1>

<h3>Wil je dit item wissen?</h3>
<div>
    <h4>Infotheek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie.Naam)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategorie.Subcategorie)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tag1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tag1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tag2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tag2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tag3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tag3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Wis" class="btn btn-danger" /> |
        <a asp-action="Index">Naar overzicht</a>
    </form>
</div>
