@model Helpdesk_SGVW.Models.Ticket

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ticket verwijderen</h1>

<h3>Ben je zeker dat je dit ticket wil verwijderen?</h3>
<div>

    <hr />
    Volgend ticket wordt definitief uit het systeem gewist en kan niet meer terug worden opgeroepen: <p />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aanvrager)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aanvrager)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Definitief wissen" class="btn btn-danger" /> |
        @if (User.IsInRole("Manager"))
        {<a asp-action="Index">Terug</a>}
        else
        {<a asp-action="Overzicht" asp-area="Personeel" asp-controller="Home" >Terug</a> }

    </form>
</div>
