@model IEnumerable<Helpdesk_SGVW.Models.Ticket>
@using Helpdesk_SGVW.Extensions





@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Op te volgen tickets</h1>


<p>
    <a asp-action="Create">Nieuw ticket</a> | 
    <a asp-action="Excel" asp-controller="Ticket" style="color:green">Exporteer</a>

</p>
@using (Html.BeginForm("Index", "Ticket", "Personeel", FormMethod.Get))
{
    <p>

        <div class="row" style="background-color:#fff">
            <div class="col-md-3">
                @Html.TextBox("zoektermId", null, new { @placeholder = "TicketID", @class = "form-control" })<br />
                @Html.TextBox("zoektermOmschrijving", null, new { @placeholder = "Omschrijving", @class = "form-control" })<br />
                @Html.TextBox("zoektermCategorie", null, new { @placeholder = "Categorie", @class = "form-control" })<br />
            </div>

            <div class="col-md-1">
            </div>

            <div class="col-md-3">
                @Html.TextBox("zoektermAanvrager", null, new { @placeholder = "Aanvrager", @class = "form-control" })<br />
                @Html.TextBox("zoektermSchool", null, new { @placeholder = "School", @class = "form-control" })                
                <label class="col-form-label" style="color:white">Zoek: </label><input type="submit" value="Zoek" class="btn btn-succes form-control" />
            </div>

            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                @Html.DropDownList("zoektermStatus", new SelectList(Enum.GetValues(typeof(Ticket.EStatus))), "Selecteer status", new { @class = "form-control" })<br />
                @Html.DropDownList("zoektermOpvolger", new SelectList(Enum.GetValues(typeof(Ticket.EOpvolger))), "Selecteer opvolger", new { @class = "form-control" })<br />
                <label style="font-size:40px; border:2px solid #212a79;"> @ViewBag.AantalTickets </label> <label> op te volgen tickets </label>
            </div>
            <div class="col-md-1">
                
            </div>

        </div>

    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.ActionLink("Urgentie", "Index", new { sortOrder = ViewBag.UrgentieSortParm })
            </th>

            <th>
                @Html.ActionLink("Categorie", "Index", new { sortOrder = ViewBag.CategorieSortParm })
            </th>
            <th>
                @Html.ActionLink("Subcategorie", "Index", new { sortOrder = ViewBag.SubCategorieSortParm })
            </th>
            <th>
                @Html.ActionLink("School", "Index", new { sortOrder = ViewBag.SchoolSortParm })
            </th>
            <th>
                @Html.ActionLink("Aanvrager", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opvolger)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(u => u.Status == "1" || u.Status == "2"))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @if (item.Urgentie == "3")
                {
                    <label style="color:red">Prioritair</label>
                }
                @if (item.Urgentie == "2")
                {
                    <label style="color:blue">Hoog</label>
                }
                @if (item.Urgentie == "1")
                {
                    <label style="color:black">Laag</label>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Categorie.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategorie.Subcategorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aanvrager)
            </td>
            <td>
                @if (item.Status == "1")
                {
                    <label style="color:red"><b>Open</b></label>
                }
                @if (item.Status == "2")
                {
                    <label style="color:blue"><b>In opvolging</b></label>
                }
                @if (item.Status == "3")
                {
                    <label style="color:green"><b>Afgewerkt</b></label>
                }
            </td>
            <td>

                @if (item.Opvolger == "0")
                {<label>Niemand</label>}
                else
                {@Html.DisplayFor(modelItem => item.Opvolger)}

            </td>
            <td>
            <td style="width:150px">
                <div class="btn-group" role="group">
                    <a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fas fa-edit">Bewerk</i>
                    </a>

                    <a class="btn btn-success text-white" asp-action="Details" asp-route-Id="@item.Id">
                        <i class="fas fa-list-alt">Details</i>
                    </a>

                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@item.Id">
                        <i class="fas fa-trash-alt">Wis</i>
                    </a>
                </div>
            </td>


        </tr>
        }
    </tbody>
</table>
